In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\programdata\anaconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [31]:
producer = KafkaProducer(bootstrap_servers=['3.92.238.53:9092'],
                    value_serializer=lambda x:dumps(x).encode('utf-8'))

In [32]:
producer.send('demo_testing2', value={'hello':'world'})

In [5]:
producer.send('demo_testing2', value="Namaste Hyderabad")

In [6]:
producer.send('demo_testing2', value='Good Job!')

In [34]:
data = pd.read_csv('indexProcessed.csv')
data

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [35]:
data.shape

(104224, 9)

In [36]:
data.head(10)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
5,HSI,1987-01-08,2603.300049,2603.300049,2603.300049,2603.300049,2603.300049,0.0,338.429006
6,HSI,1987-01-09,2561.699951,2561.699951,2561.699951,2561.699951,2561.699951,0.0,333.020994
7,HSI,1987-01-12,2614.899902,2614.899902,2614.899902,2614.899902,2614.899902,0.0,339.936987
8,HSI,1987-01-13,2590.800049,2590.800049,2590.800049,2590.800049,2590.800049,0.0,336.804006
9,HSI,1987-01-14,2578.199951,2578.199951,2578.199951,2578.199951,2578.199951,0.0,335.165994

In [38]:
while True:
    d = data.sample(1).to_dict(orient="records")[0]
    producer.send('demo_testing2',value=d)
    sleep(1)

KeyboardInterrupt:

In [19]:
producer.flush()

In [33]:
s = data.sample(1).to_dict(orient="records")[0]
producer.send('demo_testing2',value=s)